<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478084903744-sd6gpfnqo84igkdod850apanpu50716a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478084903744-sd6gpfnqo84igkdod850apanpu50716a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478084903744-4qnq53b5m4vdeork3oblit7iv5cshr6t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDU_rnJN60KQiMFSYIJvTU6hTAGU3p5uk0</string>
	<key>GCM_SENDER_ID</key>
	<string>478084903744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.foodlyRestaurant</string>
	<key>PROJECT_ID</key>
	<string>flutter-foodly-final-7d6ce</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-foodly-final-7d6ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478084903744:ios:4087adb6e0103045c100a5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-foodly-final-7d6ce-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>